<footer data-component="global-footer">
  <nav data-component="social-links">
    <h1 data-hidden>Social Links</h1>

    <a href="https://twitter.com/gregdaynes">Twitter</a>
    <a href="https://github.com/gregdaynes">Github</a>
    <a href="mailto:gregdaynes@gmail.com">Mail</a>
    <a href="/rss">RSS/Atom</a>
  </nav>

  <div data-component="legal">
    <h1 data-hidden>Legal</h1>

    <div>&copy; {{ site.time | date: "%Y" }} {{ site.owner }}</div>

    <nav>
      <a class="small" href="https://github.com/gregdaynes/after.coffee/issues/new?permalink=https://github.com/gregdaynes/after.coffee/blob/3b91d4da91ae447c4c58ca8ab3428647869d42c0/{{ page.path }}">Report Issue</a>
      <a class="small" href="/terms">Terms of Service</a>
      <a class="small" href="/privacy">Privacy</a>
    </nav>
  </div>
</footer>
