<div class="site-colophon">
  <a href="mailto:gregdaynes@gmail.com">Email</a>
  <a href="https://github.com/gregdaynes">Github</a>
  <a href="https://twitter.com/gregdaynes">Twitter</a>
  <a href="https://www.linkedin.com/in/gregory-daynes-9740bb55/">LinkedIn</a>
</div>

<footer class="site-footer">
  &copy; {{ site.time | date: "%Y" }} {{ site.owner }}
  -
  <a href="https://github.com/gregdaynes/after.coffee/issues/new?permalink=https://github.com/gregdaynes/after.coffee/blob/3b91d4da91ae447c4c58ca8ab3428647869d42c0/{{ page.path }}">Report an issue</a>
</footer>
