[data-component=category-list] {
  padding: 0 $gap;
}

[data-component=category] {
  margin-bottom: $gap-2x;

  > h1 {
    font-family: sans-serif;
    margin: 0 0 $gap-half;
    line-height: 1;
    font-size: 1.75em;
  }

  > p {
    margin-top: $gap-half;
    color: var(--c-gray-d4);
    font-family: sans-serif;
  }
}

[data-component=article-list] {
  margin: 0 $gap;
}

[data-component=read-more] {
  font-weight: bold;
  color: var(--c-gray-d6);
  font-family: sans-serif;
}

[data-component="article-summary"] {
  h1 {
    font-family: sans-serif;
    margin-bottom: $gap-half;
  }

  p {
    margin: $gap-half 0;
  }
}
