[data-component=global-header] {
  font-family: sans-serif;
  display: flex;
  padding: $gap;

  div {
    display: flex;
    flex-direction: column;
    padding-left: $gap;
  }

  a {
    color: var(--c-gray-d7);
    text-decoration: none;
    font-weight: bold;
  }

  i {
    display: inline-block;
    max-width: 4ch;
    width: 4ch;
    display: none;

    &.logo-mobile {
      @media screen and (max-width: 48em) {
        display: block;
      }
    }

    @media screen and (min-width: 48em) {
      &.logo {
        display: block;
      }
    }
  }

  p {
    margin: 0;
    color: var(--c-gray-d3);
  }
}
