// Code snippet highlighting
.highlight {
  @extend %callout;
  background-color: var(--c-gray-l6);
  color: var(--c-gray-d6);
  overflow-x: auto;

  // First comment in the code block - usually a filename
  .c1 {
    color: var(--c-gray);
  }
}

.site-page-not-found {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

// anchor offset for jump-to links
article {
  h1, h2, h3 {
    padding-top: 100px;
    margin-top: -80px;
  }
}

.table-of-contents {
  ul ul {
    display: none;
  }
}

.footnotes {
  border-top: 1px solid var(--c-gray-l5);
}
