// Code snippet highlighting
.highlight {
  background-color: var(--c-gray-d6);
  margin: 0;
  color: var(--c-gray-l7);
  padding: $gap-quarter $gap;
  overflow-x: auto;

  @media (preferes-color-scheme: dark) {
    background-color: var(--c-gray-l6);
    color: var(--c-gray-d7);
  }

  .c1 {
    color: var(--c-gray);

    @media (preferes-color-scheme: dark) {
      background-color: var(--c-gray-d6);
    }
  }
}
