html {
  @include reset-html;
  @include reset-border-box;

  font-family: serif;
  font-size: 16px;

  overflow-y: scroll;
  @include smooth-scroll;
}

body {
  @include reset-body;

  background-color: var(--c-gray-l7);
  color: var(--c-gray-d7);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 40em;
  // margin: 0 auto;
}

h1 {
  @include reset-h1;
}

small, .small {
  @media screen and (min-width: 40em) {
    @include reset-small;
  }
}

strong {
  @include reset-strong;
}

a {
  color: var(--c-blue);
}

code {
  @include reset-code;

  p & {
    color: var(--c-gray-d5);
    font-style: italic;
    font-size: 0.8em;

    &::before,
    &::after {
      content: '';
      display: inline;
      margin: $gap-quarter;
    }
  }
}

details {
  @include reset-details;
}

summary {
  @include reset-summary;
}

pre {
  @include reset-pre;
}

ul {
  padding: 0 0 0 $gap;
}
