html {
  // Correct the line height in all browsers.
  line-height: 1.5625;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.5625;
}

code {
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: monospace, monospace;
}

h1 {
  // Correct the font size and margin on `h1` elements within `section` and
  // `article` contexts in Chrome, Firefox, and Safari.
  font-size: 2em;
  margin: 0.67em 0;
}

b,
strong {
  // Add the correct font weight in Chrome, Edge, and Safari.
  font-weight: bolder;
}

small {
  // Add the correct font size in all browsers.
  font-size: 80%;
}

details {
  // Add the correct display in Edge, IE 10+, and Firefox.
  display: block;

  summary {
    // Add the correct display in all browsers.
    display: list-item;
  }
}

pre {
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: monospace, monospace;
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
}
