/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.5625; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: sans-serif;


  *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5625;
  padding: 0 1em;
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  padding: .2em .4em;
  margin: 0 .2em;
  border-radius: 3px;
  box-shadow: inset 0 0 1px hsla(0,0%,0%,0.5);
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;

  /*
   * Add the correct display in all browsers.
   */
  summary {
    display: list-item;
  }
}

.site-header {
  position: sticky;
  top: 0;
  background-color: white;
  margin: 0 -1em;

  a {
    color: black;
    text-decoration: none;
  }
}

.site-header,
.site-colophon,
.site-footer {
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 65ch;
}

figure.highlight {
  background-color: black;
  padding: 0.4em 1em;
  color: white;
  overflow-x: auto;
  margin: 0 -1em;

  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  code {
    font-size: 1em;
    padding: 0;
  }
}

.readings-source {
  background-color: seashell;
  border: 1px solid AntiqueWhite;
  padding: 1em;
  margin: 0 -1em;

  > :last-child {
    margin-bottom: 0;
  }
}

.site-page-not-found {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

details {
  summary {
    list-style-position: outside;
  }
}

article {
  h1, h2, h3 {
    padding-top: 100px;
    margin-top: -80px;
  }
}

.table-of-contents {
  ul ul {
    display: none;
  }
}
