.root {
  font-size: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.background-yellow {
  background-color: seashell;
}

.border-yellow {
  border-color: AntiqueWhite;
}

.border-solid {
  border-size: 1px;
  border-style: solid;
}

.pad-md {
  padding: 1em;
}

.pad-short {
  padding: 0.4em 1em;
}

.callout {
  @extend %callout;
}
