.root {
  font-size: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.call-to-action {
  background-color: var(--c-gray-l5);
}

.border-solid {
  border: 1px solid var(--c-gray-d6);
}

.pad-md {
  padding: 1em;
}

.pad-short {
  padding: 0.4em 1em;
}

.callout {
  @extend %callout;
}

.text-inverted {
  color: var(--c-gray-l7);
}
