---
layout: compress
---
<!doctype html>
<html lang="{{ site.language }}">
  <head>
    {% include head-meta.html %}
    {% include head-feeds.html %}
    {% include head-favicon.html %}
    {% include head-css.html %}
    {% seo %}
  </head>

  <body class="{{ page.layout }}">
    <header class="site-header">
      <div class="wrapper">
        <div>
          <i class="logo">{% include mug.svg %}</i>
          <i class="logo-mobile">{% include togo.svg %}</i>
        </div>

        <div>
          <h1><a href="/">{{ site.name }}</a></h1>

          <span>{% include tagline.html %}</span>
        </div>
      </div>
    </header>

    <main id="top">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <nav class="social-links">
          {% for link in site.social.links %}
            <a href="{{ link }}">{{ link | remove: "https://" | split: "." | slice: 0 | join: "" | capitalize }}</a>
          {% endfor %}
          <a href="mailto:gregdaynes@gmail.com">Mail</a>
          <a href="/feeds">Subscribe</a>
        </nav>

        <div class="legal">
          <h1 data-hidden>Legal</h1>

          <div>&copy; {{ site.time | date: "%Y" }} {{ site.owner }}</div>

          <nav>
            <a href="https://github.com/gregdaynes/after.coffee/issues/new?permalink=https://github.com/gregdaynes/after.coffee/blob/3b91d4da91ae447c4c58ca8ab3428647869d42c0/{{ page.path }}">Report Issue</a>
            <a href="https://www.iubenda.com/privacy-policy/95138593">Privacy Policy</a>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
