---
layout: default
---
<article class="article">
  <header>
    {% include title.html %}

    {% include content-summary.html %}
  </header>

  {% if page.topic.link %}
  <div class="content-reference">
    <p><strong>What I'm referring to</strong></p>

    <p>
      <a href="{{ page.topic.link }}">{{ page.topic.title }}</a> - <small>(<a href="{{page.topic.archive}}">Cached</a>)</small>
      <br /> by {{ page.topic.author }} - <a href="https://twitter.com/{{page.topic.twitter}}">@{{page.topic.twitter}}</a>
    </p>
  </div>
  {% endif %}

  {{ content }}

  <footer>
    {% include tag-list.html %}
    ~ {% include author-name.html %}
  </footer>
</article>
