[data-component=category] {
  margin-bottom: var(--gap);

  > h1 {
    font-family: sans-serif;
    margin: 0 0 var(--gap-half);
    line-height: 1;
    font-size: 1.75em;
  }

  > p {
    margin-top: var(--gap-half);
    color: var(--c-gray-d4);
    font-family: sans-serif;
  }
}

[data-component=read-more] {
  font-weight: bold;
  font-family: sans-serif;
}

[data-component="article-summary"] {
  margin-bottom: var(--gap-2x);

  h1 {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: var(--gap-half);
  }

  p {
    margin: var(--gap-half) 0;
  }
}

[data-component="article-meta"] {
  font-family: sans-serif;
  color: var(--c-gray);
}
