[data-component=content-article] {
  padding: 0 var(--gap);

  h1,
  h2,
  h3 {
    font-family: sans-serif;
    margin: var(--gap-2x) 0 var(--gap-quarter);

    & + p {
      margin-top: var(--gap-quarter);
    }
  }

  h1:first-of-type {
    margin-top: 0;
  }

  .footnotes {
    border-top: 2px solid var(--c-gray-l6);
  }
}

[data-component=content-header] {
  font-family: sans-serif;
}

[data-component=content-reference] {
  background-color: var(--c-gray-l6);
  padding: var(--gap-quarter) var(--gap);
}

[data-component="table-of-contents"] {
  background-color: var(--c-gray-l6);
  padding: var(--gap-quarter) var(--gap);

  ul {
    padding: 0;
    list-style: none;
  }

  ul ul {
    display: none;
  }
}

[data-component="content-byline"] {
  font-family: sans-serif;
  background-color: var(--c-gray-l6);
  padding: var(--gap);

  span {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: var(--gap-quarter);
  }
}
