[data-component=global-header] {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 100px 1fr;
  padding: var(--gap-4x) 0;

  a {
    color: var(--c-gray-d7);
  }

  img {
    display: none;

    &.logo-mobile {
      @media screen and (max-width: 47.9em) {
        display: block;
      }
    }

    @media screen and (min-width: 48em) {
      &.logo {
        display: block;
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}
