// Code snippet highlighting
.highlight {
  background-color: var(--c-gray-l6);
  margin: 0;
  color: var(--c-gray-d6);
  padding: var(--gap-quarter) var(--gap);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (preferes-color-scheme: dark) {
    background-color: var(--c-gray-l6);
    color: var(--c-gray-d7);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .c1 {
    color: var(--c-gray);

    @media (preferes-color-scheme: dark) {
      background-color: var(--c-gray-d6);
    }
  }
}

