// Code snippet highlighting
.highlight {
  background-color: var(--c-gray-l6);
  margin: 0;
  color: var(--c-gray-d6);
  padding: var(--gap-quarter) var(--gap-quarter);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (preferes-color-scheme: dark) {
    background-color: var(--c-gray-l6);
    color: var(--c-gray-d7);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .c1 {
    color: var(--c-gray);

    @media (preferes-color-scheme: dark) {
      background-color: var(--c-gray-d6);
    }
  }
}

[data-component=content-article] {
  h1,
  h2,
  h3 {
    font-family: sans-serif;
  }

  h1:first-of-type {
    margin-top: 0;
  }

  .footnotes {
    border-top: 2px solid var(--c-gray-l6);
  }
}

[data-component=content-header] {
  font-family: sans-serif;
}

[data-component=content-reference] {
  background-color: var(--c-gray-l6);
  padding: var(--gap-quarter) var(--gap);
}

[data-component=table-of-contents] {
  background-color: var(--c-gray-l6);
  padding: var(--gap-quarter) var(--gap);

  ul {
    padding: 0;
    list-style: none;
  }

  ul ul {
    display: none;
  }
}

[data-component=content-byline] {
  font-family: sans-serif;
  background-color: var(--c-gray-l6);
  padding: var(--gap);

  span {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: var(--gap-quarter);
  }
}

[data-component=category] {
  margin-bottom: var(--gap);

  > h1 {
    font-family: sans-serif;
    margin: 0 0 var(--gap-half);
    line-height: 1;
    font-size: 1.75em;
  }

  > p {
    margin-top: var(--gap-half);
    color: var(--c-gray-d4);
    font-family: sans-serif;
  }
}

[data-component=read-more] {
  font-weight: bold;
  font-family: sans-serif;
}

[data-component=content-summary] {
  margin-bottom: var(--gap-2x);
  border-bottom: 1px solid var(--c-gray-l5);
  padding-bottom: var(--gap-2x);

  h1 {
    font-family: sans-serif;
    margin-top: 0;
  }
}

[data-component=content-meta] {
  font-family: sans-serif;
  color: var(--c-gray);

  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    &::after {
      content: '-';
    }

    &:last-of-type::after {
      content: none;
    }
  }
}

[data-component=site-header] {
  margin-bottom: var(--gap-2x);
  background-color: var(--c-gray-l6);

  .wrapper {
    padding: var(--gap-4x) 0;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: 80px 1fr;

    @media screen and (min-width: 72em) {
      padding: calc(var(--gap) * 8) 0;
    }

    a {
      color: var(--c-gray-d7);
    }

    i {
      display: none;

      &.logo-mobile {
        @media screen and (max-width: 47.9em) {
          display: block;
        }
      }

      @media screen and (min-width: 48em) {
        &.logo {
          display: block;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    h1 {
      margin: 0;
    }
  }
}

[data-component=site-footer] {
  @media screen and (min-width: 48em) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

[data-component=social-links] {
  order: 1;

  @media screen and (min-width: 48em) {
    width: 100%;
  }
}

[data-component=legal] {
  order: 2;

  @media screen and (min-width: 48em) {
    display: flex;
  }

  nav {
    @media screen and (min-width: 48em) {
      padding: 0 var(--gap);
    }
  }
}
