html {
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: serif;
  font-size: 16px;
  overflow-y: scroll;
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  *:before, *:after {
    box-sizing: inherit;
  }
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: var(--c-gray-l7);
  color: var(--c-gray-d5);
}

main {
  flex: 1 0 auto;
}

.wrapper {
  width: calc(100% - var(--gap-2x));
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  // Correct the margin on `h1` elements within `section` and
  // `article` contexts in Chrome, Firefox, and Safari.
  margin: 0.67em 0;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: var(--gap);
}

small, .small {
  @media screen and (min-width: 40em) {
    font-size: 80%;
  }
}

strong {
  font-weight: bolder;
}

a {
  color: var(--c-blue);
  text-underline-offset: 0.21em;
  text-decoration-color: var(--c-blue);

  &:focus {
    outline: 1px solid currentColor;
    outline-offset: 0.2em;
  }
}

code {
  font-family: monospace;
  font-size: 1.75ex;
  background-color: var(--c-gray-l6);

  p & {
    color: var(--c-gray-d4);
    font-style: italic;
    font-size: 0.8em;

    &::before,
    &::after {
      content: '';
      display: inline;
      margin: var(--gap-quarter);
    }
  }

  // code blocks highlighted, not inline
  &:not([class*="language"]) {
    padding-right: 0.15em;
    padding-left: 0.15em;
  }
}

details {
  display: block;
}

summary {
  display: list-item;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

ul {
  padding-left: var(--gap);
}
