html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  color: var(--c-gray-d6);
}

main {
  flex: 1 0 auto;
}

.wrapper {
  width: calc(100% - var(--gap-2x));
  max-width: 70ch;
  margin: 0 auto;
}

h1 {
  // Correct the margin on `h1` elements within `section` and
  // `rticle` contexts in Chrome, Firefox, and Safari.
  margin: 0.67em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: var(--gap);
}

a {
  color: var(--c-blue);
  text-underline-offset: 0.20em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--c-blue);

  &:focus {
    outline: 1px solid currentColor;
    outline-offset: 0.2em;
  }
}

code {
  font-family: monospace;
  font-size: 1.75ex;
  background-color: var(--c-gray-l6);

  p & {
    color: var(--c-gray-d4);
    font-style: italic;
    font-size: 0.8em;

    &::before,
    &::after {
      content: '';
      display: inline;
      margin: var(--gap-quarter);
    }
  }

  // code blocks highlighted, not inline
  &:not([class*="language"]) {
    padding-right: var(--gap-quarter);
    padding-left: var(--gap-quarter);
  }
}

details {
  display: block;
}

summary {
  display: list-item;
}

pre {
  font-family: monospace;
  font-size: 1em; // reset
}

ul {
  padding-left: var(--gap);
}
