html {
  @include reset-html;
  @include reset-border-box;

  font-family: serif;
  font-size: 16px;

  overflow-y: scroll;
  @include smooth-scroll;
}

html, body {
  height: 100%;
}

body {
  @include reset-body;

  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: var(--c-gray-l7);
  color: var(--c-gray-d5);
}

main {
  flex: 1 0 auto;
}

main, footer, header {
  width: calc(100% - var(--gap-2x));
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  @include reset-h1;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: var(--gap);
}

small, .small {
  @media screen and (min-width: 40em) {
    @include reset-small;
  }
}

strong {
  @include reset-strong;
}

a {
  color: var(--c-blue);
  text-underline-offset: 0.21em;
  text-decoration-color: var(--c-blue);

  &:focus {
    outline: 1px solid currentColor;
    outline-offset: 0.2em;
  }
}

code {
  @include reset-code;
  font-size: 1.75ex;
  background-color: var(--c-gray-l6);

  p & {
    color: var(--c-gray-d4);
    font-style: italic;
    font-size: 0.8em;

    &::before,
    &::after {
      content: '';
      display: inline;
      margin: var(--gap-quarter);
    }
  }

  // code blocks highlighted, not inline
  &:not([class*="language"]) {
    padding-right: 0.15em;
    padding-left: 0.15em;
  }
}

details {
  @include reset-details;
}

summary {
  @include reset-summary;
}

pre {
  @include reset-pre;
}

ul {
  padding: 0 0 0 var(--gap);
}
