@mixin reset-html {
  // Correct the line height in all browsers.
  line-height: 1.6;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
}

@mixin reset-border-box {
  box-sizing: border-box;

  *:before, *:after {
    box-sizing: inherit;
  }
}

@mixin reset-body {
  min-height: 100vh;
  margin: 0;
}

@mixin reset-h1 {
  // Correct the margin on `h1` elements within `section` and
  // `article` contexts in Chrome, Firefox, and Safari.
  margin: 0.67em 0;
}

@mixin reset-small {
  // Add the correct font size in all browsers.
  font-size: 80%;
}

@mixin reset-strong {
  // Add the correct font weight in Chrome, Edge, and Safari.
  font-weight: bolder;
}

@mixin reset-code {
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: monospace;
}

@mixin reset-details {
  // Add the correct display in Edge, IE 10+, and Firefox.
  display: block;
}

@mixin reset-summary {
  // Add the correct display in all browsers.
  display: list-item;
}

@mixin reset-pre {
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: monospace, monospace;
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
}
