%callout {
  margin: 0 -1em;

  > :last-child {
    margin-bottom: 0;
  }
}

[hidden] {
  display: none;
}

[data-hidden] {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  margin: -1px;
  position: absolute;
}
