---
layout: default
---
<article data-component="content-article">
  <header data-component="content-header">
    <h1>{{ page.title }}</h1>
    <!-- <span>{{ page.author }}</span> -->
    <!-- <span>{{ page.date | date: "%Y-%m-%d" }}</span> -->
    <!-- <span><ul><li>{{ page.tags | join: "</li><li>" }}</li></ul></span> -->

    <section><p>{{ page.summary }}</p></section>

    {% if page.article.link %}
    <div data-component="content-reference">
      <p><strong>What I'm referring to</strong></p>

      <p>
        <a href="{{ page.article.link }}">{{ page.article.title }}</a> - <small>(<a href="{{page.article.archive}}">Cached</a>)</small><br />
        by {{ page.article.author }} - <a href="https://twitter.com/{{page.article.twitter}}">@{{page.article.twitter}}</a>
      </p>
    </div>
    {% endif %}
  </header>

  <div>{{ content }}</div>
</article>
